* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* middledark */
  --primary-color: #647295; 
  /* darkest */
  --secondary-color: #2b262d;
  /* lightest */
  --tertiary-color:  #f2ebe5;
  --quaternary-color:  #9f496e;
}

body {
  color: var(--tertiary-color);
  background: var(--primary-color);
}

.app-div {
  min-height: 100vh;
}

header {
  padding: 25px 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--teriary-color);
  background: var(--secondary-color);
}

header h1 {
  margin: 20px;
  font-size: 2vw;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

header nav ul li {
  margin: 20px;
  font-size: 1.5vw;
}

header nav ul li:hover {
  color: var(--quaternary-color);
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  padding: 10px;
  border-left: solid var(--secondary-color);
}

.about h2 {
  font-size: 1.5vw;
  margin: 10px;
}

.about img {
  width: 20%;
  border-radius: 50%;
  margin: 10px;
}

.about p {
  margin: 10px;
  font-size: 1.25vw;
}

.sticky-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: 100%;
  padding: 20px 35px;

}

.sticky-footer img {
  width: 7%;
  margin: 10px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 4px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  padding: 10px;
  border-left: solid var(--secondary-color);
}

.gallery-container h2 {
  font-size: 1.5vw;
  margin: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px;
  position: relative;

}

.gallery img {
  width: 40%;
  margin: 10px;
  border-radius: 5px;
  /* display: block; */
}

.gallery img:hover {  
  cursor: pointer;
  color: #9f496e; 
  opacity: 50%;
 }

.form-container {
  /* margin: 30px;
  padding: 10px;
  border-radius: 12px;
  width: 50%;
  background-color: silver; */
  margin: 50px;
  padding: 10px;
  border-left: solid var(--secondary-color);
  width: 50%;

}

.form h1 {
  font-size: 1.5vw;
  margin: 10px;
}

.contact label {
  font-size: 1.2vw;
  margin: 10px;
}

.contact input, .contact textarea {
  padding: 5px;
  margin: 10px;
  width: 90%;
  /* border-radius: 5px; */
}

.contact button {
  width: 90%;
  padding: 10px;
  margin: 10px;
  font-size: 1.2vw;
  /* border-radius: 5px; */
  background: var(--quaternary-color);
  color: var(--tertiary-color);
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  padding: 10px;
  border-left: solid var(--secondary-color);
}

.resume-container h2 {
  font-size: 1.5vw;
  margin: 10px;
}

.resume-container p, .resume-container li {
  margin: 10px;
  font-size: 1.25vw;
  list-style: none;
}

.resume-container h3 {
  font-size: 1.2vw;
}

.navActive {
  color: var(--quaternary-color);
}

@media screen and (max-width: 1400px) {
  header h1 {
    font-size: 2.5vw;
  }
  header nav ul li {
    font-size: 2vw;
  }
  
.about h2 {
  font-size: 2vw;
}
.about p {
  font-size: 1.75vw;
}
.about img {
  width: 25%;
}
.gallery-container h2 {
  font-size: 2vw;
}
.resume-container h2 {
  font-size: 2vw;
}
.resume-container p, .resume-container li {
  font-size: 1.75vw;
}

.resume-container h3 {
  font-size: 1.9vw;
}
.form h1 {
  font-size: 2vw;
}

.contact label {
  font-size: 1.75vw;
}
.contact button {
  font-size: 1.75vw;
}
}

@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 2.5vw;
  }
  header nav ul li {
    font-size: 2vw;
  }
  
.about h2 {
  font-size: 2vw;
}
.about p {
  font-size: 1.75vw;
}
.about img {
  width: 25%;
}
.gallery-container h2 {
  font-size: 2vw;
}
.resume-container h2 {
  font-size: 2vw;
}
.resume-container p, .resume-container li {
  font-size: 1.75vw;
}

.resume-container h3 {
  font-size: 1.9vw;
}
.form h1 {
  font-size: 2vw;
}

.contact label {
  font-size: 1.75vw;
}
.contact button {
  font-size: 1.75vw;
}
.sticky-footer img {
  width: 9%;
}
}


@media screen and (max-width: 980px) {
  header h1 {
    font-size: 3vw;
  }
  header nav ul li {
    font-size: 2.5vw;
  }
  
.about h2 {
  font-size: 2.5vw;
}
.about p {
  font-size: 2.25vw;
}
.about img {
  width: 30%;
}
.gallery-container h2 {
  font-size: 2.5vw;
}
.gallery img {
  width: 100%;
}
.resume-container h2 {
  font-size: 2.5vw;
}
.resume-container p, .resume-container li {
  font-size: 2.25vw;
}

.resume-container h3 {
  font-size: 2.4vw;
}
.form h1 {
  font-size: 2.5vw;
}

.contact label {
  font-size: 2.25vw;
}
.contact button {
  font-size: 2.25vw;
}
.sticky-footer img {
  width: 11%;
}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 4.5vw;
  }
  header nav ul li {
    font-size: 4vw;
  }
  
.about h2 {
  font-size: 4vw;
}
.about p {
  font-size: 3.75vw;
}
.about img {
  width: 50%;
}
.gallery-container h2 {
  font-size: 4vw;
}
.gallery img {
  width: 100%;
}
.resume-container h2 {
  font-size: 4vw;
}
.resume-container p, .resume-container li {
  font-size: 3.75vw;
}

.resume-container h3 {
  font-size: 3.9vw;
}
.form h1 {
  font-size: 4vw;
}

.contact label {
  font-size: 3.75vw;
}
.contact button {
  font-size: 3.75vw;
}
.sticky-footer img {
  width: 13%;
}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 5.5vw;
  }
  header nav ul li {
    font-size: 5vw;
  }
  
.about h2 {
  font-size: 5vw;
}
.about p {
  font-size: 4.75vw;
}
.about img {
  width: 100%;
}
.gallery-container h2 {
  font-size: 5vw;
  border-bottom: solid black;
  margin-top: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.gallery img {
  width: 100%;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-left: none;
}
.resume-container h2 {
  font-size: 5vw;
  border-bottom: solid black;
}
.resume-container p, .resume-container li {
  font-size: 4.75vw;
}

.resume-container h3 {
  font-size: 4.9vw;
  border-bottom: solid black;

}
.resume-container {
  align-items: center;
  text-align: center;
  border: none;
}
.form h1 {
  font-size: 5vw;
  border-bottom: solid black;
  margin-bottom: 20px;
}

.contact label {
  font-size: 4.75vw;
}
.contact button {
  font-size: 4.75vw;
}
.form-container {
  border-left: none;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.center {
  display: flex;
  justify-content: center;
}
.sticky-footer img {
  width: 15%;
}
}

@media screen and (max-width: 375px) {
  header h1 {
    font-size: 7vw;
  }
  header nav ul li {
    font-size: 6.5vw;
  }
  
.about h2 {
  font-size: 6.5vw;
}
.about p {
  font-size: 6.25vw;
}
.about img {
  width: 100%;
}
.gallery-container h2 {
  font-size: 6.5vw;
  border-bottom: solid black;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.gallery img {
  width: 100%;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-left: none;
}
.resume-container h2 {
  font-size: 6.5vw;
}
.resume-container p, .resume-container li {
  font-size: 6.25vw;
}

.resume-container h3 {
  font-size: 6.4vw;
}
.form h1 {
  font-size: 6.5vw;
}

.contact label {
  font-size: 6.25vw;
}
.contact button {
  font-size: 6.25vw;
}
.sticky-footer img {
  width: 17%;
}
}

