* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: black;
  background: white;
}

.app-div {
  min-height: 100vh;
}

header {
  padding: 25px 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

header h1 {
  margin: 20px;
  font-size: 2vw;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

header nav ul li {
  margin: 20px;
  font-size: 1.5vw;
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  padding: 10px;
  border-left: solid black;
}

.about h2 {
  font-size: 1.5vw;
  margin: 10px;
}

.about img {
  width: 15%;
  border-radius: 50%;
  margin: 10px;
}

.about p {
  margin: 10px;
}

.sticky-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: silver;
  position: sticky;
  top: 100%;
  padding: 20px 35px;

}

.sticky-footer img {
  width: 7%;
  margin: 10px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.gallery-container h2 {
  margin: 40px 40px 0 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px
}

.gallery img {
  width: 40%;
  margin: 10px;
  border-radius: 5px;
}

.form-container {
  margin: 30px;
  padding: 10px;
  border-radius: 12px;
  width: 50%;
  background-color: silver;
}

.form h1 {
  font-size: 2vw;
  margin: 20px;
}

.contact label {
  font-size: 1.5vw;
  margin: 20px;
}

.contact input, .contact textarea {
  padding: 10px;
  margin: 20px;
  width: 90%;
  border-radius: 12px;
  border: none;
}

.contact button {
  width: 90%;
  padding: 10px;
  margin: 20px;
  border-radius: 12px;
  border: none;
}
